In [1]:
import pandas as pd

In [29]:
over_position = pd.DataFrame({
			"ligne" : [123],
			"mode" : ["short"],
			"open" : [1200],
			"close" : [1300],
			"stop_loss" : [True],
			"take_profit" : [False]
		})
over_position2 = {
			"ligne" : [123],
			"mode" : ["short"],
			"open" : [1200],
			"close" : [1300],
			"stop_loss" : [True],
			"take_profit" : [False]
		}

In [35]:
add_ligne = pd.DataFrame({
    "ligne" : [1],
    "mode" : ["long"],
    "open" : [7],
    "close" : [7],
    "stop_loss" : ['False'],
    "take_profit" : ['True']
})

over_position = pd.concat([over_position, add_ligne])

In [36]:
over_position

   ligne   mode  open  close stop_loss take_profit
0    123  short  1200   1300      True       False
0      1   long     7      7     False        True

In [28]:
over_position

        mode  open  close  stop_loss  take_profit
ligne
123    short  1200   1300       True        False
123    short  1200   1300       True        False
123    short  1200   1300       True        False
123    short  1200   1300       True        False